{% load static %}
<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{%block title%}{%endblock%}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    {% block sidebarhead %}{% endblock %}
    {% block quotation_js %}{% endblock %}
    {% block head %}{% endblock %}
  </head>

  <body>
    {% block sidebar %}{% endblock %}
  </body>
</html>
